*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
 /* outline: 1px solid red;*/
}
html{
  font-size: 62.5%;
}
.body{
  font-size: 1.6rem;
}
.container{
  height: 100vh;
  
}
 .cl1{
background-color: red;
}
.cl3{
  background-color: green;
}
.cl2{
background-color: blue;
}
.cl4{
  background-color: pink;
}
.cl5{
  background-color: brown;
}
.border{
  border: 1px solid white;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;

}
.grid-wrapper{
  border: none;
  height: 80vh;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3,1fr)2fr;
  grid-auto-rows: 1fr;
  grid-template-areas:
  "one one two  three"
  "four six two three"
  "five six seven seven"
  ;
}

.grid-items:first-child {
  grid-area: one;
}
.grid-items:nth-child(2) {
  grid-area: two;
}
.grid-items:nth-child(3) {
  grid-area: three;
}

.grid-items:nth-child(4) {
  grid-area: four;
}
.grid-items:nth-child(5) {
  grid-area: five;
}
.grid-items:nth-child(6) {
  grid-area: six;
}
.grid-items:nth-child(7){
  grid-area: seven;
}
@media screen and (max-width: 900px) {
  .grid-wrapper{
   height: 80vh;
   width: 60%;
   grid-template-areas:
"one one two  three"
"four six two three"
"five six seven seven"
;
}
}